# 1. All the questions must be done in a single Jupyter notebook.
2. There should be proper comments in code.
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
driver = webdriver.Chrome()

In [10]:
#opening the naukri page on automated chrome browser
driver.get("https://www.shine.com/")

In [12]:
#entering designation and location as required in the question

designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [13]:
location =driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [14]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [15]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [22]:
#Scraping job title from the given path
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu active white-box-border jobCard"]/div/h2')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    

#Scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

5 40 60 60

In [29]:
import pandas as pd
df=pd.DataFrame({'Company_name':company_name, 'Experience':experience_required})
df

                              Company_name   Experience
0                              novel group   2 to 6 Yrs
1                        kavya interprises   0 to 4 Yrs
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20                             novel group   2 to 6 Yrs
21                       kavya interprises   0 to 4 Yrs
22                            hire connect    0 to 1 Yr
23                       kavya interprises   0 to 4 Yrs
24                     futures and careers   2 to 4 Yrs
25                     futures and careers   2 to 4 Yrs
26  boyen haddin consulting and technol...   2 to 6 Yrs
27  boyen haddin consulting and technol...  5 to 10 Yrs
28  boyen haddin consulting and technol...   2 to 6 Yrs
29  boyen haddin consulting and technol...   2 to 6 Yrs
30  boyen haddin consulting and technol...   2 to 6 Yrs
31  boyen haddin consulting and technol...   4 to 8 Yrs
32  boyen haddin consulting and technol...   2 to 6 Yrs
33                      global solutions..    0 to 1 Yr
34             ok lifecare private limited   1 to 5 Yrs
35          provizor it services pvt. ltd.   2 to 5 Yrs
36          cynosure corporate solutions..  7 to 12 Yrs
37                       divya interprises   0 to 4 Yrs
38                       divya interprises   0 to 4 Yrs
39                         quiscon biotech   0 to 2 Yrs
40                             novel group   2 to 6 Yrs
41                       kavya interprises   0 to 4 Yrs
42                            hire connect    0 to 1 Yr
43                       kavya interprises   0 to 4 Yrs
44                     futures and careers   2 to 4 Yrs
45                     futures and careers   2 to 4 Yrs
46  boyen haddin consulting and technol...   2 to 6 Yrs
47  boyen haddin consulting and technol...  5 to 10 Yrs
48  boyen haddin consulting and technol...   2 to 6 Yrs
49  boyen haddin consulting and technol...   2 to 6 Yrs
50  boyen haddin consulting and technol...   2 to 6 Yrs
51  boyen haddin consulting and technol...   4 to 8 Yrs
52  boyen haddin consulting and technol...   2 to 6 Yrs
53                      global solutions..    0 to 1 Yr
54             ok lifecare private limited   1 to 5 Yrs
55          provizor it services pvt. ltd.   2 to 5 Yrs
56          cynosure corporate solutions..  7 to 12 Yrs
57                       divya interprises   0 to 4 Yrs
58                       divya interprises   0 to 4 Yrs
59                         quiscon biotech   0 to 2 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [35]:
driver = webdriver.Chrome()

In [36]:
#opening the naukri page on automated chrome browser
driver.get("https://www.shine.com/")

In [38]:
#entering designation and location as required in the question

designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [39]:
location =driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [40]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [41]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [42]:
 
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
#Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    

#Scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [43]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 20 20 20

In [47]:
import pandas as pd
df=pd.DataFrame({'Location':job_location, 'Company_name':company_name, 'Experience':experience_required})
df

          Location                            Company_name    Experience
0    Bangalore\n+8  capgemini technology services india...   6 to 11 Yrs
1        Bangalore  boyen haddin consulting and technol...    2 to 6 Yrs
2        Bangalore                               get hired    0 to 3 Yrs
3        Bangalore  boyen haddin consulting and technol...    4 to 8 Yrs
4        Bangalore  boyen haddin consulting and technol...    2 to 4 Yrs
5   Bangalore\n+13                       kavya interprises    0 to 4 Yrs
6   Bangalore\n+13                       kavya interprises    0 to 4 Yrs
7        Bangalore                  ibm india pvt. limited  10 to 12 Yrs
8        Bangalore                                jpmorgan    4 to 6 Yrs
9   Bangalore\n+14                       divya interprises    0 to 4 Yrs
10       Bangalore                       the fashion cosmo    0 to 3 Yrs
11  Bangalore\n+14                       divya interprises    0 to 4 Yrs
12       Bangalore                             bosch group    3 to 5 Yrs
13       Bangalore                             bosch group    3 to 5 Yrs
14       Bangalore                             bosch group    2 to 5 Yrs
15  Bangalore\n+14                       divya interprises    0 to 4 Yrs
16       Bangalore                       shiva hr services    0 to 3 Yrs
17       Bangalore  boyen haddin consulting and technol...    2 to 6 Yrs
18       Bangalore                             true caller   8 to 12 Yrs
19       Bangalore                                jpmorgan    3 to 5 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [57]:
driver = webdriver.Chrome()

In [58]:
#opening the naukri page on automated chrome browser
driver.get("https://www.shine.com/")

In [60]:
#entering designation and location as required in the question

designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [59]:
location =driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [67]:
salary =driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button")
salary.send_keys('3-6')

In [62]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [65]:
updatedsalary =driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
updatedsalary.send_keys('3-6')

In [66]:
Filter =driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
updatedsalary.send_keys('3-6')